* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: dimgrey;
    background: url(../bg2.jpg);
}
.container{
    background-color: #d3c7b7;
    width: 80vw;
    max-width: 37.5em;
    padding: 1.7em 2.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.62em;
    box-shadow: 0 1.25em 1.8em gray;
}
.container::before{
    background: url(../bg3.jpg) no-repeat center center/cover;
    content:"";
    position: absolute;
    height:118px;
    width:100%;
    top:0px;
    left:0px;   
    z-index: -1;
    opacity: 0.3;
}
.search-wrapper{
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.25em;
}
.search-wrapper button{
    font-size: 1em;
    margin: 14px;
    background-color: rgb(118 71 65);
    color: #ffffff;
    padding: 0.8em 0;
    border: none;
    border-radius: 1.5em;
    cursor: pointer;
}
.search-wrapper button:hover{
    background-color: #bb8559;
}
.search-wrapper input{
    font-size: 1em;
    margin: 17px;
    padding: 0 0.62em;
    border: none;
    border-bottom: 2px solid #5c1b0b;
    outline: none;
    color: #222a43;
    border-radius: 10px;
}
#result {
    margin-top: 1.25em;
}
.container .flag-img {
    display: block;
    width: 45%;
    min-width: 7.5em;
    margin: 1.8em auto 1.2em auto;
}
.container h2 {
    font-weight: 600;
    color: #222a43;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.8em;
}
.data-wrapper {
    margin-bottom: 1em;
    letter-spacing: 0.3px;
}
.container h4 {
    display: inline;
    font-weight: 500;
    color: #222a43;
}
.container span {
    color: #5d6274;
}
.container h3 {
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    color: #ff465a;
}